body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeScreenButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


button {
  padding: 10px 20px;
  color: cyan;
  outline: 2px solid cyan;
  background-color: black;
  font-size: xx-large;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  outline:
}

button:hover {
  box-shadow: 0 0 20px cyan;
}