body {
  margin: 0;
  font-family: 'Joystix', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeScreenButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


button {
  font-family: 'Joystix';
  padding: 10px 20px;
  color: rgb(121, 158, 194);
  outline: 2px solid rgb(121, 158, 194);
  background-color: black;
  font-size: 50px;
  margin: 15px;
  border-radius: 20px;
  padding: 10px;
  display: block;
}

button:hover {
  box-shadow: 0 0 30px cyan;
  color: cyan;
}

/* 
rgb(121, 158, 194)
 */

.title {
  color: yellow;
  font-size: 40px;
}
.homeScreenButtons h1 {
  font-size: 70px;
  color: cyan;
  margin-bottom: 35px;
  animation: arcade-blink 2.5s ease-in-out infinite;
}

@keyframes arcade-blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
